@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: rgb(255, 255, 255);
  scrollbar-color: #0000007e #00000000;
  scrollbar-width: thin;
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-image: url('other/bg2.jpeg');
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120%;
  animation: back 150s infinite linear;
}

*::-webkit-scrollbar {
  display: block;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-right: none;
  border-left: none;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  display: block;
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 67px;
  padding-top: 67px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 140, 255, 0.466);
  border-right: none;
  border-left: none;
}

h1, h2, h3, h4, h5 {
  color: rgb(0, 140, 255);
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 89, 162);
  transition-duration: 0.2s;
}

a:hover {
  color: rgb(0, 140, 255);
}

#loading-screen {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 5;
  transition-duration: 1s;
}

#loading-screen #loading-img {
  position: relative;
  left: 50%;
  top: 50%;
  width: 10%;
  height: 10%;
  margin-left: -5%;
  margin-top: -5%;
  animation: load 1s infinite linear;
}

#header-box {
  position: fixed;
  z-index: 3;
}

#header-margin {
  height: 67px;
  background-color: rgb(0, 0, 0);
  width: 100vw;
}

#header * {
  transition-duration: 0.3s;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.815);
  width: 100vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.733);
}

#header li {
  float: right;
}

#header li:hover {
  background-color: rgb(0, 140, 255);
}

#header li:hover a {
  color: rgb(0, 0, 0);
}

#header li a {
  display: block;
  color: rgb(0, 140, 255);
  text-align: center;
  padding: 24px 42px;
  text-decoration: none;
  font-size: 16px;
}

#header img {
  float: left;
  height: 64px;
  margin-left: 80px;
}

#main-slider {
  width: 100vw;
  height: 90vh;
  background-color: #bbb;
  background-image: url('other/bg1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
  transition-duration: 0.4s;
  animation: back 150s infinite linear;
}

#main-slider .mySlides {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  visibility: visible;
  transition-duration: 0.4s;
  transition: all 2s;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

#main-slider .mySlides h1 {
  font-size: 64px;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  animation: text 1s;
  overflow: hidden;
  white-space: nowrap;
}

#main-slider .mySlides h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  animation: text 1.5s;
  margin-right: 40%;
}

#main-slider .mySlides .p-box {
  color: rgba(255, 255, 255, 0.616);
  animation: text 2s;
  width: 40%;
}

#astronomia {
  height: 90vh;
  background-color: rgb(255, 255, 255);
  padding: 100px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#astronomia p {
  margin-top: 20px;
  padding: 0;
  color: rgb(30, 30, 30);
  float: left;
}

#astronomia #astronomia-box {
  width: 30%;
  position: absolute;
  height: 110%;
  top: -40%;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.733);
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  float: right;
  margin-right: 5%;
}

#astronomia #astronomia-box form {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#astronomia #astronomia-box form #form-cat {
  width: 60%;
  margin-bottom: 40px;
  height: 40px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 40px;
  transition-duration: 0.2s;
}

#astronomia #astronomia-box form #form-key {
  width: 60%;
  height: 40px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition-duration: 0.2s;
}

#astronomia #astronomia-box form select {
  background-color: rgb(255, 255, 255);
}

.empty-field {
  background-color: rgb(255, 125, 125);
}

#astronomia #astronomia-box form #form-key:hover, #astronomia #astronomia-box form #form-cat:hover {
  border-radius: 14px;
  border-color: rgb(0, 140, 255);
}

button {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  border-radius: 4px;
  padding: 12px 24px;
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;
}

button:hover {
  color: rgb(0, 140, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#kosmos {
  height: 100vh;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

#kosmos h1 {
  font-size: 64px;
}

#kosmos h2 {
  text-transform: uppercase;
  font-size: 28px;
  color: rgb(255, 255, 255);
  padding-left: 30%;
  padding-right: 30%;
}

#kosmos img {
  margin-top: 5%;
  height: 15%;
  transform: scale(0.6, 1) rotate(90deg);
  animation: bounce 2s infinite linear;
}

#podstrony {
  height: 30vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.733);
  border-bottom: 2px solid rgb(255, 255, 255);
}

#podstrony .page-box {
  height: 100%;
  width: 40%;
  background-size: 110%;
  transition-duration: 0.4s;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

#podstrony .page-box:hover {
  background-size: 120%;
  background-position: center;
}

#podstrony .page-box * {
  box-sizing: border-box;
}

#podstrony .page-box h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

#podstrony .page-box p {
  color: rgba(255, 255, 255, 0.616);
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
}

#footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
}

#footer p {
  color: rgba(255, 255, 255, 0.616);
}

#footer .footer-box {
  width: 30%;
  height: 100%;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer li {
  color: rgba(255, 255, 255, 0.616);
  font-size: 20px;
  list-style-image: url(other/arrow.svg);
  margin-bottom: 10px;
}

#footer a {
  color: rgb(255, 255, 255);
}

#footer a:hover {
  color: rgb(0, 140, 255);
}

#page-banner {
  width: 100vw;
  height: 20vh;
  background-image: url('other/bg2.jpeg');
  background-size: 120%;
  background-position: top;
  animation: back 150s infinite linear;
}

#page-banner h1 {
  margin: 0;
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  transform: translateY(-25px);
}

#page-one {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgb(248, 250, 250);
  padding: 200px;
  z-index: 1;
}

#page-one h1 {
  margin: 0;
}

.note {
  color: rgb(60, 60, 60);
  font-size: 14px;
  font-style: italic;
}

#page-one p, #page-two p {
  margin-top: 20px;
  padding: 0;
  color: rgb(30, 30, 30);
  float: left;
  font-size: 18px;
}

#page-two {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 200px;
  /*
  box-shadow: 0px -5px 40px rgba(0,0,0,0.3);*/
  z-index: 2;
}

#page-one li {
  list-style-image: url(other/arrow.svg);
  color: rgb(30, 30, 30);
  font-size: 18px;
  margin-bottom: 8px;
}

li p {
  float: right;
}

#uklad {
  width: 40%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 40px;
  margin-left: auto;
  margin-right: auto;
}

#uklad .planet {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  position: relative;
  transition-duration: 0.4s;
}

#uklad .planet:hover {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}

#uklad .planet img {
  height: 100px;
  margin: 0;
  position: relative;
}

#uklad .planet .planetimg {
  width: 30%;
  text-align: center;
  margin: 0;
  position: relative;
  float: left;
  height: 100%;
}

#uklad .planet .planetp {
  width: 70%;
  text-align: center;
  float: right;
  margin: 0;
  height: 100%;
}

#uklad .planet p {
  margin: 0;
  font-size: 22px;
  top: 50%;
  transform: translateY(-11px);
  position: relative;
}

#gwiazdy {
  width: 80%;
  height: 180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
}

#gwiazdy .star {
  width: 40%;
  text-align: center;
}

#gwiazdy .star img {
  width: 60%;
  transition-duration: 0.5s;
}

#gwiazdy .star img:hover {
  width: 70%;
}

#gwiazdy .star p {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

#col {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#col .step {
  width: 50%;
  padding: 20px;
  transition-duration: 0.4s;
}

#col .step img {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  transition-duration: 0.4s;
}

#col .step:hover {
  padding: 0px;
}

@keyframes back {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes bounce {
  0% {
    margin-top: 5%;
  }

  50% {
    margin-top: 8%;
  }

  100% {
    margin-top: 5%;
  }
}

@keyframes text {
  from {
    margin-left: 1000px;
  }

  to {
    margin-left: 0px;
  }
}
